@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/css/lucy.common.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Lucy Build System</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Login</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
                <div id="ajax"></div>
            </div>
            <div class="col-sm-9 col-md-10 col-lg-10">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jstree/jstree.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    @RenderSection("scripts", false)
</body>
</html>



